html{
    background-color: gray;
}
.card-area{
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 350px;
    min-height: 550px;
    border: 4px solid powderblue;
    box-shadow: 0 8px 16px 0 rgb(0,0,0,0.2);
    margin: 16px;
    background-color: #34425a;
    border-radius: 8px;
}
.name{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border: 3px solid silver;
    width: 200px;
    padding: 2px;
    margin-top: 10px;
    margin-left: 67px;
    border-radius: 8px;
    background-color: white;
}
div{
    color:black;
}
.picture-section{
    height: 350px;
    position: relative;
}
.picture{
    width: 350px;
    height: 350px;
}
.Elixir{
    position: absolute;
    padding: 4px 8px;
}
.Stuff{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}
.Rarity{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: 3px solid silver;
    width: 100px;
    padding: 2px;
    margin: auto;
    border-radius: 8px;
    background-color: white;
}
.address{
    font-weight: bold;
    margin-bottom: 4px;
}
.Desc {
    font-size: 20px;
    text-align: center;
    border: 3px solid silver;
    width: 250px;
    padding: 2px;
    margin-left: 45px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: white;
}